  <div class="nested-fields">
  	<div class="field">
  		<%= f.label :title2 %>
  		<br/>
  		<%= f.text_field :title2 %>
	<div class="field">
		<%= f.label :content2 %>
		<br/>
		<%= f.text_field :content2 %>
	</div>
	<%= f.file_field :more_image %>
  <div class="field">
    <%= f.label :iframe2 %>
    <%= f.text_field :iframe2 %>
  </div>
  	<%= link_to_remove_association "Fshije", f %>
  	</div>
  </div>