<% if current_user.id == @post.user.id %>
<%= render "all/header" %>
<div id="center" class="container">
	<h1>Editing post</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @post %> |
	<%= link_to 'Back', posts_path %>

</div>
<%= render "all/footer" %>
<% end %>